.professor-header {
    background-color: #c41e3a;
    padding: 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .professor-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .professor-header-title h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .professor-header-title span {
    font-size: 18px;
    font-weight: bold;
  }
